@use "../common/variables.scss";

.academy-logo {
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask: url("../img/logo-academy.svg") no-repeat center;
    background-color: #666666;
  }
}

.academy-logo__text {
  font-family: variables.$font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: variables.$text-secondary;
}
