@use "../common/variables.scss";

.academy-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  @media (min-width: variables.$tablet) {
    gap: 23px;
    padding: 0;
  }
}

.academy-logo:hover .academy-logo__icon,
.academy-logo:focus .academy-logo__icon {
  color: variables.$color-primary;
}

.academy-logo:active {
  opacity: 0.3;
}

.academy-logo__text {
  font-family: variables.$font-secondary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: variables.$text-secondary;
}

.academy-logo__icon {
  color: #666666;
}
