@use "../global/variables.scss";

.button {
  display: grid;
  place-content: center;
  margin: 0;
  padding: 7px 44px;
  border: none;
  font-family: variables.$font-primary;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.button--primary {
  color: #ffffff;
  background-color: variables.$color-primary;
}

.button--secondary {
  color: variables.$text-secondary;
  background-color: #f2f2f2;
}
