@use "../common/variables.scss";

.button {
  display: grid;
  place-content: center;
  margin: 0;
  border: none;
  font-family: variables.$font-primary;
  font-size: min(1.6rem, 22px);
  line-height: min(2rem, 28px);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: variables.$tablet) {
    font-size: clamp(18px, 2rem, 24px);
    line-height: clamp(18px, 2rem, 24px);
  }

  @media (min-width: variables.$desktop) {
    font-size: clamp(18px, 2rem, 24px);
    line-height: clamp(18px, 2rem, 24px);
  }

  &--primary {
    color: #ffffff;
    background-color: variables.$color-primary;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5eaa2f;
    }
  }

  &--secondary {
    color: variables.$text-secondary;
    background-color: #f2f2f2;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      background-color: #ebebeb;
    }
  }
}
