@use "../common/variables.scss";

.card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: min(2rem, 30px) 0 min(2.5rem, 38px);

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;

    @media (min-width: variables.$tablet) {
      display: none;
    }
  }

  @media (min-width: variables.$tablet) {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, min-content) 1fr;
    padding: 0 min(3.7rem, 45px) min(4rem, 50px);
    background-color: variables.$color-secondary;
  }

  @media (min-width: variables.$desktop) {
    padding: 0 clamp(38px, 3.8rem, 46px) min(40px, 4rem, 54px) clamp(38px, 3.8rem, 46px);
  }
}

.card__image-link {
  grid-column: 1 / 2;
  grid-row: span 2;
  justify-self: center;
  width: min(14rem, 182px);
  height: min(10.7rem, 130px);

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    width: min(20rem, 245px);
    height: min(21rem, 252px);
    margin: 0 auto;
    margin-top: -71px;
    margin-bottom: min(2rem, 20px);
  }

  @media (min-width: variables.$desktop) {
    width: clamp(169px, 16.9rem, 200px);
    height: clamp(210px, 21rem, 252px);
    margin-top: -72px;
    margin-bottom: 13px;
  }
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
  }
}

.card__caption-link {
  grid-column: 2 / -1;
  max-width: min(7.6rem);
  margin-bottom: 11px;
  padding-top: 3px;
  text-decoration: none;
  color: #222222;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    display: block;
    max-width: max(13.5rem, 135px);
    margin: 0 auto;
    margin-bottom: min(2rem, 30px);
    padding: 0;
  }

  @media (min-width: variables.$desktop) {
    max-width: clamp(140px, 14rem, 172px);
    margin-bottom: clamp(23px, 2.3rem, 30px);
  }
}

.card__caption {
  margin: 0;
  font-size: min(1.6rem, 20px);
  line-height: min(2rem, 25px);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    font-size: clamp(18px, 2rem, 24px);
    line-height: clamp(22px, 2.4rem, 29px);
    text-align: center;
  }

  @media (min-width: variables.$desktop) {
    font-size: clamp(20px, 2rem, 27px);
    line-height: clamp(24px, 2.4rem, 33px);
  }
}

.card__feature-list {
  grid-column: 2 / -1;
  margin: 0;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    display: grid;
    row-gap: max(0.5rem, 5px);
  }

  @media (min-width: variables.$desktop) {
    row-gap: max(0.7rem, 7px);
  }
}

.card__feature-item {
  display: flex;
  justify-content: space-between;
  font-family: variables.$font-secondary;
  font-size: min(1.2rem, 17px);
  line-height: min(1.6rem, 23px);
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet) {
    gap: 6px;
    padding-bottom: max(6px, 0.6rem);
    font-size: clamp(14px, 1.6rem, 19px);
    line-height: clamp(18px, 2rem, 24px);
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: variables.$desktop) {
    font-size: clamp(16px, 1.6rem, 19px);
    line-height: clamp(20px, 2rem, 24px);
  }
}

.card__amount {
  margin: 0;
}

.card__button {
  grid-column: 1 / -1;
  width: 100%;
  margin-top: min(1.7rem, 25px);
  padding-top: min(1.1rem, 18px);
  padding-bottom: min(0.9rem, 15px);

  @media (min-width: variables.$tablet) {
    align-self: end;
    margin-top: min(3.2rem, 45px);
    padding: clamp(10px, 1rem, 15px) min(4.5rem, 71px);
    font-size: clamp(16px, 1.6rem, 20px);
    line-height: clamp(18px, 2rem, 24px);
  }

  @media (min-width: variables.$desktop) {
    margin-top: clamp(32px, 3.2rem, 45px);
    padding: clamp(10px, 1rem, 15px) clamp(45px, 4.5rem, 71px);
    font-size: clamp(16px, 1.6rem, 24px);
    line-height: clamp(20px, 2rem, 29px);
  }
}
