@use "../common/variables.scss";
@use "../common/mixins.scss";

.cards {
  @include mixins.list-reset;
  position: relative;
  display: grid;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;

    @media (min-width: variables.$tablet) {
      display: none;
    }
  }

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 141px 60px;
    justify-items: stretch;
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: repeat(auto-fill, minmax(min(24.5rem, 324px), 1fr));
    gap: 144px 80px;
  }
}
