@use "../common/variables.scss";

.card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0 25px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;
  }

  @media (min-width: variables.$tablet) {
    background-color: variables.$color-secondary;
  }
}

.card__image-link {
  grid-column: 1 / 2;
  grid-row: span 2;
  display: grid;
  place-content: center;
}

.card__caption-link {
  grid-column: 2 / -1;
  max-width: 76px;
  text-decoration: none;
  color: #222222;
}

.card__caption {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.card__feature-list {
  grid-column: 2 / -1;
  margin: 0;
}

.card__feature-item {
  display: flex;
  justify-content: space-between;
  font-family: variables.$font-secondary;
  font-size: 12px;
  line-height: 16px;
  color: variables.$text-secondary;
}

.card__amount {
  margin: 0;
}

.card__button {
  grid-column: 1 / -1;
  margin-top: 17px;
}
