@use "../common/variables.scss";

.catalog {
  padding-top: min(2.7rem, 35px);

  @media (min-width: variables.$tablet) {
    padding-top: min(6.3rem, 63px);
  }

  @media (min-width: variables.$desktop) {
    padding-top: clamp(60px, 7.4rem, 74px);
  }
}

.catalog__wrapper {
  @media (min-width: variables.$tablet) {
    margin-bottom: min(7rem, 70px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: clamp(66px, 7.6rem, 76px);
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: variables.$tablet) {
    margin-bottom: min(16.6rem, 1656px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: clamp(150px, 16.5rem, 165px);
  }
}
