@use "../common/variables.scss";

.catalog {
  padding-top: 27px;

  @media (min-width: variables.$tablet) {
    padding-top: 63px;
  }

  @media (min-width: variables.$desktop) {
    padding-top: 72px;
  }
}

.catalog__wrapper {
  @media (min-width: variables.$tablet) {
    margin-bottom: 70px
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: 78px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: variables.$tablet) {
    margin-bottom: 165px;
  }
}

.catalog__promotion {
  @media (min-width: variables.$desktop) {
    max-width: 245px;
  }
}
