@use "../common/variables.scss";

.checkbox-input {
  display: grid;
  place-content: center;
  appearance: none;
  width: min(3rem, 40px);
  height: min(3rem, 40px);
  margin: 0;
  border: 1px solid #cdcdcd;

  @media (min-width: variables.$tablet) {
    width: clamp(40px, 4rem, 50px);
    height: clamp(40px, 4rem, 50px);
  }

  &:checked::before {
    content: "";
    display: block;
    width: clamp(26px, 2.6rem, 40px);
    height: clamp(26px, 2.6rem, 40px);
    background-image: url("../img/sprite.svg#tick");
    background-repeat: no-repeat;
  }
}
