@use "../common/variables.scss";

.container {
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: variables.$tablet) {
    width: calc(100% - 60px);
  }

  @media (min-width: variables.$desktop) {
    width: calc(100% - 140px);
  }

  @media (min-width: 1280px) {
    width: calc(100% - 220px);
    max-width: 2145px;
  }
}
