@use "../common/variables.scss";
@use "../common/mixins.scss";

.description__title {
  margin: 0;
}

.description__list {
  @include mixins.list-reset;
  display: grid;

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 58px;
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 81px;
  }
}

.description__item {
  &::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--healthy::before {
    background-image: url("../img/healthy-icon.svg");
  }

  &--simple::before {
    background-image: url("../img/simple-icon.svg");
  }

  &--tasty::before {
    background-image: url("../img/tasty-icon.svg");
  }

  &--fast::before {
    background-image: url("../img/fast-icon.svg");
  }
}

.description__text {
  margin: 0;
  font-family: variables.$font-primary;
  color: variables.$text-secondary;
}
