@use "../common/variables.scss";

.extra-products {
  padding: min(2.4rem, 40px) 0 min(3.5rem, 55px);

  @media (min-width: variables.$tablet) {
    padding: 0;
    padding-bottom: 74px;
  }

  @media (min-width: variables.$desktop) {
    padding-bottom: 86px;
  }
}

.extra-products__wrapper {
  @media (min-width: variables.$desktop) {
    display: grid;
    grid-template-columns: 89.6rem auto;
    column-gap: 80px;
    row-gap: 30px;
    grid-auto-flow: dense;
  }
}

.extra-products__title-wrapper {
  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
  }
}

.extra-products__title {
  max-width: fit-content;
  margin: 0;
  margin-left: -20px;
  margin-bottom: min(3.6rem, 40px);
  padding: 0 20px;
  font-size: min(2.4rem, 28px);
  line-height: min(2.4rem, 28px);
  font-weight: 400;
  background-color: #ffffff;

  @media (min-width: variables.$tablet) {
    margin-left: 0;
    margin-bottom: 79px;
    padding: 0 40px;
    font-size: clamp(36px, 3.6rem, 40px);
    line-height: clamp(36px, 3.6rem, 40px);
  }

  @media (min-width: variables.$desktop) {
    margin-left: -40px;
    margin-bottom: 49px;
  }
}

.extra-products__list {
  margin-bottom: min(3.6rem, 40px);

  @media (min-width: variables.$tablet) {
    margin-bottom: 70px;
  }

  @media (min-width: variables.$desktop) {
    margin: 0;
    grid-column: 1 / 2;
  }
}
