@use "../common/variables.scss";

.extra-products {
  padding: 24px 0 35px;

  @media (min-width: variables.$tablet) {
    padding: 0;
    padding-bottom: 74px;
  }

  @media (min-width: variables.$desktop) {
    padding-bottom: 86px;
  }
}

.extra-products__wrapper {
  @media (min-width: variables.$desktop) {
    display: grid;
    grid-template-columns: calc(896 * 100% / 1220) auto;
    column-gap: 80px;
    row-gap: 30px;
    grid-auto-flow: dense;
  }
}

.extra-products__list {
  margin-bottom: 36px;

  @media (min-width: variables.$tablet) {
    margin-bottom: 70px;
  }

  @media (min-width: variables.$desktop) {
    margin: 0;
    grid-column: 1 / 2;
  }
}

.extra-products__title {
  position: relative;
  max-width: 270px;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 36px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 15px;
    background-color: variables.$color-primary;
    z-index: -1;

    @media (min-width: variables.$tablet) {
      top: 22px;
    }
  }

  &::before {
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: variables.$tablet) {
    max-width: 425px;
    margin-left: 0;
    margin-bottom: 79px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    margin-left: -40px;
    margin-bottom: 49px;
  }
}
