@use "../common/mixins.scss";
@use "../common/variables.scss";

.extras {
  @include mixins.list-reset;
  margin-bottom: 35px;
}

.extras__item {
  display: grid;
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.extras__caption {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.extras__features {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 15px;
  font-family: variables.$font-secondary;
  font-size: 14px;
  line-height: 14px;
  color: variables.$text-secondary;
}

.extras__value {
  margin: 0;
}

.extras__price {
  margin: 0;
}
