@use "../common/variables.scss";

.field {
  display: flex;
  align-items: center;
  gap: min(1.5rem, 20px);

  @media (min-width: variables.$tablet) {
    gap: clamp(20px, 2rem, 25px);
  }

  &:hover .radio-input,
  &:hover .checkbox-input {
    border-color: #bababa;
  }

  &--disabled {
    opacity: 0.3;
  }
}
