@use "../common/variables.scss";

.field {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (min-width: variables.$tablet) {
    gap: 20px;
  }

  &:hover .radio-input,
  &:hover .checkbox-input {
    border-color: #bababa;
  }

  &--disabled {
    opacity: 0.3;
  }
}
