@use "../common/variables.scss";

.footer {
  background-color: variables.$color-secondary;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  @media (min-width: variables.$tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 55px 0;
  }

  @media (min-width: variables.$desktop) {
    padding: 66px 0;
  }
}

.footer__logo {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;

  & svg {
    width: 128px;
    height: 24px;
  }

  @media (min-width: variables.$tablet) {
    padding: 6px 0;
    border: none;
  }
}

.footer__social {
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet) {
    padding: 8px 0;
    border: none;
  }
}

.footer__academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  @media (min-width: variables.$tablet) {
    gap: 23px;
    padding: 0;
  }
}
