@use "../common/variables.scss";

.footer {
  background-color: variables.$color-secondary;
}

.footer__wrapper {
  display: grid;
  gap: min(1rem, 15px);
  padding: min(4.1rem, 50px) 0;

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    grid-auto-flow: row dense;
    padding: min(5.5rem, 70px) 0;
  }

  @media (min-width: variables.$desktop) {
    padding: clamp(62px, 6.7rem, 80px) 0;
  }
}

.footer__logo {
  padding-bottom: min(1.7rem, 25px);
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet) {
    justify-self: start;
    grid-column: 1 / 2;
    padding: min(0.5rem, 10px) 0;
    border: none;
  }
}

.footer__social {
  margin-bottom: 10px;
  padding: min(1.1rem, 18px) 0 min(1.8rem, 28px);
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet) {
    max-width: max(180px, 18rem);
    margin: 0;
    justify-self: center;
    grid-column: 2 / 3;
    padding: clamp(7px, 0.7rem, 12px) 0;
    border: none;
  }
}

.footer__copyright {
  @media (max-width: variables.$mobile) {
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: variables.$tablet) {
    justify-self: end;
    grid-column: 3 / -1;
  }
}
