@use "../common/variables.scss";

.footer {
  background-color: variables.$color-secondary;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  @media (min-width: variables.$tablet) {
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    padding: 55px 0;
  }

  @media (min-width: variables.$desktop) {
    padding: 68px 0;
  }
}

.footer__logo {
  padding-bottom: 17px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet) {
    padding: 5px 0;
    border: none;
  }
}

.footer__social {
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet) {
    max-width: 180px;
    margin: 0;
    margin-left: 160px;
    margin-right: auto;
    padding: 7px 0;
    border: none;
  }

  @media (min-width: variables.$desktop) {
    margin-left: 416px;
  }
}
