@use "../common/variables.scss";

.form-control {
  margin: 0;
  padding: 14px 15px 13px;
  font-family: variables.$font-primary;
  font-size: 16px;
  line-height: 18px;
  color: variables.$text-secondary;
  text-transform: uppercase;
}
