@use "../common/variables.scss";

.headline-decor {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: variables.$color-primary;
    z-index: -1;

    @media (min-width: 768px) {
      top: min(2.2rem, 25px);
    }
  }
}
