@use "../common/variables.scss";

.header-logo {
  text-decoration: none;

  @media (max-width: variables.$mobile) {
    width: 33px;
    height: 38px;
  }

  @media (min-width: variables.$tablet) {
    min-width: 174px;
    display: flex;
    align-items: center;
    gap: 13px;
  }
}

.header-logo__text {
  @media (max-width: variables.$mobile) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
