@use "../common/variables.scss";

.header__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: variables.$tablet) {
    width: 708px;
    display: flex;
  }

  @media (min-width: variables.$desktop) {
    width: 1220px;
  }
}
