@use "../common/variables.scss";

.header-logo {
  text-decoration: none;

  @media (max-width: variables.$mobile) {
    width: min(3.3rem, 43px);
    height: min(3.8rem, 50px);
  }

  @media (min-width: variables.$tablet) {
    min-width: clamp(174px, 17.4rem, 240px);
    display: flex;
    align-items: center;
    gap: 1.3rem;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header-logo__image {
  width: 100%;
  height: auto;
  object-fit: contain;

  @media (min-width: variables.$tablet) {
    width: min(6rem, 75px);
  }

  @media (min-width: variables.$desktop) {
    width: clamp(70px, 7rem, 85px);
  }
}

.header-logo__text {
  width: min(10.1rem, 126px);
  height: auto;

  @media (max-width: variables.$mobile) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #111111;
  }

  @media (min-width: variables.$tablet) {
    fill: #444444;
  }

  @media (min-width: variables.$desktop) {
    width: clamp(118px, 11.8rem, 150px);
  }
}
