@use "../common/variables.scss";

.header {
  position: relative;

  &--with-decor {
    @media (max-width: variables.$mobile) {
      border-bottom: 1px solid #e6e6e6;
    }
  }
}

.header--with-decor .navigation__list {
  border: none;
}
