@use "../common/variables.scss";

.headline-decor {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: 2px;
    top: min(1.6rem, 19px);
    left: 50%;
    transform: translateX(-50%);
    background-color: variables.$color-primary;
    z-index: -1;

    @media (min-width: variables.$tablet) {
      top: min(2.2rem, 25px);
      width: calc(100% + 140px);
    }

    @media (min-width: variables.$desktop) {
      width: calc(100% + 140px);
    }

    @media (min-width: 1280px) {
      width: calc(100% + 220px);
    }
  }

  &--extra::after {
    @media (min-width: variables.$tablet) {
      top: min(2.2rem, 25px);
      width: calc(100% + 60px);
    }
  }
}
