@use "../common/variables.scss";

.hero {
  $percent-height: calc(100% - 178px);
  padding-top: min(2.7rem, 40px);
  text-align: center;
  background-image:
    image-set(url("../img/great-img/cat-hero@2x.webp") type("image/webp") 2x,
      url("../img/great-img/cat-hero.webp") type("image/webp") 1x,
      url("../img/great-img/cat-hero@2x.jpg") 2x,
      url("../img/great-img/cat-hero.jpg") 1x),
    linear-gradient(90deg, #64a73d 50%, #62a53b 50%),
    linear-gradient(#62a63b $percent-height, #ffffff $percent-height);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto $percent-height, auto $percent-height, auto;
  color: #ffffff;

  @media (min-width: variables.$tablet) {
    padding-top: min(6.3rem, 70px);
    text-align: left;
    background-color: #ffffff;
    background-image: none;
    color: variables.$text-primary;
  }

  @media (min-width: variables.$desktop) {
    padding-top: 143px;
    background-image:
      image-set(url("../img/great-img/cat-hero-desktop@2x.webp") type("image/webp") 2x,
        url("../img/great-img/cat-hero-desktop.webp") type("image/webp") 1x,
        url("../img/great-img/cat-hero-desktop@2x.jpg") 2x,
        url("../img/great-img/cat-hero-desktop.jpg") 1x),
      linear-gradient(90deg, #ffffff 50%, #63a63d 50%);
    background-repeat: no-repeat;
    background-position: bottom right, 100%;
    background-size: min(69.4rem, 838px, 50%), 100%;
  }
}

.hero__wrapper {
  @media (min-width: variables.$tablet) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(10, min-content);
    padding-left: min(90px, 9rem);
  }

  @media (min-width: variables.$desktop) {
    min-height: 550px;
    margin-bottom: 82px;
    padding-left: 80px;
  }
}

.hero__title {
  max-width: min(25rem);
  margin: 0 auto;
  margin-bottom: min(2.5rem, 40px);

  @media (min-width: variables.$tablet) {
    grid-column: 1 / 2;
    min-width: clamp(440px, 44rem, 660px);
    margin: 0;
    margin-bottom: clamp(40px, 4rem, 48px);
  }

  @media (min-width: variables.$desktop) {
    padding-top: 82px;
  }
}

.hero__slogan {
  margin: 0;
  margin-bottom: min(2.9rem, 42px);
  font-size: min(1.4rem, 18px);
  line-height: min(1.4rem, 18px);
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / 2;
    max-width: max(460px, 46rem);
    margin-bottom: min(5rem, 60px);
    font-size: clamp(18px, 2rem, 24px);
    line-height: clamp(18px, 2rem, 24px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: clamp(52px, 5.2rem, 60px);
    font-size: clamp(20px, 2rem, 24px);
    line-height: clamp(20px, 2rem, 24px);
  }
}

.hero__image-wrapper {
  width: 28rem;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 0.3rem;

  @media (min-width: variables.$tablet) {
    grid-column: 2 / -1;
    grid-row-end: -1;
    max-width: none;
    margin: 0;
    margin-top: -93px;
    width: min(70.8rem, 830px);
    height: min(60.9rem, 714px);
    margin-left: -64rem;
  }

  @media (min-width: 768px) {
    margin-left: -53rem;
  }

  @media (min-width: variables.$desktop) {
    grid-row: 1 / -1;
    width: clamp(552px, 55.2rem, 668px);
    height: clamp(499px, 49.9rem, 604px);
    margin: 0;
    margin-left: -29.4rem;
  }
}

.hero__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.hero__button {
  padding: min(1.1rem, 15px) min(4.4rem, 60px);
  font-size: min(1.6rem, 20px);
  line-height: min(1.8rem, 23px);

  @media (min-width: variables.$tablet) {
    grid-column: 1 / 2;
    max-width: clamp(244px, 24.4rem, 325px);
    margin-bottom: 10px;
    padding: clamp(15px, 1.7rem, 20px) clamp(24px, 2.6rem, 32px);
    font-size: clamp(18px, 2rem, 24px);
    line-height: clamp(18px, 2rem, 24px);
  }

  @media (min-width: variables.$desktop) {
    font-size: clamp(20px, 2rem, 24px);
    line-height: clamp(20px, 2rem, 24px);
  }
}
