@use "../common/variables.scss";

.hero {
  background-color: variables.$color-primary;
  background-image: url("../img/cat-hero.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.hero__title {
  margin: 0;
}

.hero__slogan {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
}
