@use "../common/variables.scss";

.input {
  border: 1px solid #e7e7e7;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &--error {
    outline: 2px solid variables.$color-error;
  }
}

.input:focus + .input__icon {
  color: variables.$color-primary;
}

.input--error + .input__icon {
  color: variables.$color-error;
}

.input__icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  @media (min-width: variables.$tablet) {
    right: 14px;
  }

  @media (min-width: variables.$desktop) {
    right: 16px;
  }
}
