@use "../common/variables.scss";

.input {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: top 50% right 5%;

  &--email {
    background-image: url("../img/email.svg");
  }

  &--phone {
    background-image: url("../img/phone.svg");
  }

  @media (min-width: variables.$tablet) {
    background-position: top 50% right 2%;
  }

  @media (min-width: variables.$desktop) {
    background-position: top 50% right 3%;
  }
}
