@use "../common/variables.scss";

.invite {
  position: relative;

  &--secondary {
    background-color: variables.$color-secondary;
  }
}

.invite__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
  padding: min(2.6rem, 40px) 0;

  @media (min-width: variables.$tablet) {
    gap: 0;
    padding: clamp(61px, 6.1rem, 70px) clamp(40px, 4rem, 46px);
  }

  @media (min-width: variables.$desktop) {
    position: absolute;
    top: 95px;
    align-items: start;
    column-gap: 84px;
    width: clamp(565px, 56.5rem, 1000px);
    padding: clamp(62px, 6.2rem, 81px) clamp(73px, 7.3rem, 95px) clamp(60px, 6rem, 78px) clamp(82px, 8.2rem, 107px);
    background-color: #ffffff;
    z-index: 1;
  }
}

.invite__headline {
  max-width: min(13rem, 170px);
  margin: 0;
  font-size: min(1.6rem, 20px);
  line-height: min(2rem, 25px);
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: variables.$tablet) {
    max-width: clamp(165px, 16.5rem, 185px);
    font-size: clamp(20px, 2rem, 27px);
    line-height: clamp(26px, 2.6rem, 35px);
  }
}

.invite__address {
  max-width: min(14rem, 195px);
  font-family: variables.$font-secondary;
  font-size: min(1.4rem, 18px);
  line-height: min(2rem, 26px);
  font-style: normal;

  @media (min-width: variables.$tablet) {
    display: grid;
    gap: 2rem;
    max-width: max(160px, 16rem);
    text-align: right;
    font-size: clamp(16px, 1.6rem, 22px);
    line-height: clamp(20px, 2rem, 27px);
  }

  @media (min-width: variables.$desktop) {
    gap: max(1.8rem, 18px);
    text-align: left;
  }
}

.invite__text {
  margin: 0;
}

.invite__map-image {
  display: none;
  width: 100%;
  height: 362px;
  object-fit: cover;

  @media (min-width: variables.$tablet) {
    height: 400px;
  }

  &--nojs {
    display: block;
  }
}

.invite__map {
  width: 100%;
  height: 362px;
  overflow: hidden;

  @media (min-width: variables.$tablet) {
    height: 400px;
  }

  &--nojs {
    display: none;
  }
}
