@use "../common/variables.scss";

.navigation {
  @media (min-width: variables.$tablet) {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 25px;
  }

  @media (min-width: variables.$desktop) {
    padding-top: clamp(46px, 5.5rem, 55px);
  }
}

.navigation__hat {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 14px;

  @media (min-width: variables.$tablet) {
    padding: 0;
  }
}

.navigation__toggle {
  padding: 0;
  width: min(2.4rem, 30px);
  height: min(2.4rem, 30px);
  background-color: transparent;
  background-image: url("../img/sprite.svg#burger-button");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;

  @media (min-width: variables.$tablet) {
    display: none;
  }

  &--closed {
    background-image: url("../img/sprite.svg#close-button");
    background-position: center;
    background-size: min(1.8rem, 30px) min(1.8rem, 30px);
  }

  &--nojs {
    display: none;
  }
}

.navigation__list {
  @media (max-width: variables.$mobile) {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 65px;
    width: 100%;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: variables.$tablet) {
    max-width: max(45rem, 450px);
  }

  @media (min-width: variables.$desktop) {
    max-width: max(52.9rem, 400px);
  }
}
