@use "../common/variables.scss";

.navigation {
  @media (min-width: variables.$tablet) {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 25px 0;
  }

  @media (min-width: variables.$desktop) {
    padding: 60px 0 20px;
  }
}

.navigation__hat {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0 14px;

  @media (min-width: variables.$tablet) {
    padding: 0;
  }
}

.navigation__toggle {
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../img/burger-button.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: none;

  @media (min-width: variables.$tablet) {
    display: none;
  }

  &--closed {
    background-image: url("../img/close-button.svg");
    background-position: center;
    background-size: 18px 18px;
  }

  &--nojs {
    display: none;
  }
}

.navigation__list {
  @media (min-width: variables.$desktop) {
    max-width: 600px;
  }
}
