@use "../common/variables.scss";

.page {
  font-family: variables.$font-primary;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  position: relative;
  margin: 0;
  background-color: #ffffff;
  color: variables.$text-primary;
}

.page__body--background::before {
  @media (min-width: variables.$desktop) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 694px;
    background-color: #64a83d;
    background-image: url("../../img/cat-hero-big.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}
