@use "../common/variables.scss";

.page {
  font-family: variables.$font-primary;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  margin: 0;
  background-color: #ffffff;
  color: variables.$text-primary;
}
