@use "../common/variables.scss";

.page {
  font-family: variables.$font-primary;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  margin: 0;
  background-color: #ffffff;
  color: variables.$text-primary;

  @media (min-width: variables.$desktop) {
    background-image: url(../img/cat-hero-big.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 720px 694px;
  }
}
