@use "../common/variables.scss";
@use "../common/mixins.scss";

.program-selection {
  padding: min(2.8rem, 40px) 0 min(3rem, 42px);

  @media (min-width: variables.$tablet) {
    padding: min(6.5rem, 70px) 0 min(6rem, 70px);
  }

  @media (min-width: variables.$desktop) {
    padding: clamp(64px, 7.4rem, 80px) 0 clamp(70px, 8rem, 90px);
  }
}

.program-selection__wrapper {
  @media (min-width: variables.$tablet) {
    padding: 0 clamp(40px, 4rem, 60px);
  }

  @media (min-width: variables.$desktop) {
    padding: 0;
  }
}

.program-selection__title {
  margin: 0;
  margin-bottom: min(3.7rem, 40px);

  @media (min-width: variables.$tablet) {
    margin-bottom: min(5.5rem, 60px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: clamp(45px, 5.5rem, 60px);
  }
}

.program-selection__intro {
  max-width: min(23rem, 300px);
  margin: 0;
  margin-bottom: 39px;
  font-size: min(1.4rem, 18px);
  line-height: min(1.8rem, 23px);
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    max-width: min(34rem, 415px);
    margin-bottom: 66px;
    font-size: clamp(16px, 2rem, 22px);
    line-height: clamp(26px, 3rem, 33px);
  }

  @media (min-width: variables.$desktop) {
    max-width: clamp(310px, 34rem, 415px);
    font-size: clamp(18px, 2rem, 22px);
    line-height: clamp(26px, 3rem, 33px);
  }
}

.program-selection__form {
  display: grid;
  align-items: start;

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: variables.$desktop) {
    grid-auto-flow: dense;
    column-gap: clamp(68px, 8rem, 100px);
  }
}

.program-selection__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  border: none;

  &--with-decor {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;

      @media (min-width: variables.$tablet) {
        display: none;
      }
    }
  }
}

.program-selection__label {
  flex-shrink: 2;
  font-size: min(1.6rem, 20px);
  line-height: min(1.8rem, 23px);

  @media (min-width: variables.$tablet) {
    font-size: clamp(18px, 2rem, 23px);
    line-height: clamp(18px, 2rem, 23px);
  }

  @media (min-width: variables.$desktop) {
    font-size: clamp(16px, 2rem, 23px);
    line-height: clamp(16px, 2rem, 23px);
  }
}

.program-selection__input {
  width: 100%;
  max-height: 4.5rem;

  @media (min-width: variables.$tablet) {
    max-height: max(52px, 5.2rem);
  }
}

.program-selection__textarea {
  width: 100%;
  min-height: min(15rem, 190px);
  resize: vertical;

  @media (min-width: variables.$tablet) {
    min-height: clamp(175px, 17.5rem, 240px);
  }
}

.program-selection__button {
  margin-bottom: min(2.2rem, 30px);
  padding: min(1rem, 15px) min(4.4rem, 66px);

  @media (min-width: variables.$tablet) {
    grid-column: 1 / 2;
    max-width: max(282px, 28.2rem);
    margin-bottom: 0;
    padding: clamp(13px, 1.6rem, 20px);
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / 2;
    min-width: 100%;
  }
}

.program-selection__legend {
  margin: 0;
  text-align: center;

  @media (min-width: variables.$tablet) {
    grid-column: 2 / 3;
    padding-top: max(13px, 1.4rem);
    padding-left: max(35px, 3.5rem);
    text-align: left;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 2 / -1;
    padding-top: 15px;
    padding-left: max(3px, 0.3rem);
  }

  &--small {
    font-family: variables.$font-secondary;
    font-size: min(1.4rem, 18px);
    line-height: min(1.6rem, 21px);

    @media (min-width: variables.$tablet) {
      font-size: clamp(16px, 1.6rem, 19px);
      line-height: clamp(16px, 1.6rem, 19px);
    }
  }
}

.program-selection__list {
  @include mixins.list-reset;
  display: grid;
}

.program-selection__headline {
  max-width: fit-content;
  margin-left: -20px;
  margin-bottom: min(2rem, 25px);
  padding: 0 20px;
  text-transform: none;
  font-size: min(2.4rem, 30px);
  line-height: min(2.6rem, 33px);
  background-color: #ffffff;

  @media (min-width: variables.$tablet) {
    padding: 0 40px;
    margin-left: -40px;
    margin-bottom: clamp(25px, 3.5rem, 40px);
    font-size: clamp(32px, 3.6rem, 40px);
    line-height: clamp(32px, 3.6rem, 40px);

    br {
      display: none;
    }
  }

  @media (min-width: variables.$desktop) {
    font-size: clamp(30px, 3.6rem, 40px);
    line-height: clamp(30px, 3.6rem, 40px);
  }
}

.program-selection__personal {
  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    margin-bottom: min(7.1rem, 71px);
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / 2;
    margin-bottom: max(7rem, 55px);
  }
}

.program-selection__purpose {
  margin-bottom: min(2.6rem, 30px);

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    margin-bottom: min(6.5rem, 65px);
  }

  @media (min-width: variables.$desktop) {
    grid-column: 2 / -1;
    margin-bottom: max(7rem, 55px);
  }
}

.program-selection__contacts {
  margin-bottom: min(2.3rem, 40px);

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    margin-bottom: min(6.6rem, 66px);
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    margin-bottom: max(6.9rem, 65px);
  }
}

.program-selection__contacts .program-selection__headline {
  @media (max-width: variables.$mobile) {
    max-width: min(22.7rem, 275px);
  }
}

.program-selection__comment {
  margin-bottom: min(1.7rem, 37px);

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    margin-bottom: min(6.2rem, 62px);
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    margin-bottom: max(6.7rem, 58px);
  }
}

.program-selection__additional {
  margin-bottom: min(2rem, 32px);

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    margin-bottom: clamp(30px, 3.1rem, 40px);
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    margin-bottom: clamp(41px, 4.1rem, 48px);
  }
}
