@use "../global/variables.scss";
@use "../global/mixins.scss";

.program {
  background-color: #f2f2f2;
}

.program__title {
  @include mixins.uppercase;
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.program__descriprion {
  margin: 0;
  font-family: variables.$font-secondary;
  color: variables.$text-secondary;
}

.program__link {
  @include mixins.uppercase;
  font-size: 16px;
  line-height: 16px;
  color: variables.$text-primary;
  text-decoration: none;
}
