@use "../common/variables.scss";
@use "../common/mixins.scss";

.program-selection {
  @media (min-width: variables.$tablet) {
    padding: 0;
  }
}

.program-selection__wrapper {
  padding: 27px 0 32px;

  @media (min-width: variables.$tablet) {
    padding: 65px 40px 60px;
  }

  @media (min-width: variables.$desktop) {
    padding: 74 0 80px;
  }
}

.program-selection__title {
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: variables.$tablet) {
    margin-bottom: 54px;
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: 55px;
  }
}

.program-selection__intro {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: 31px;
  }
}

.program-selection__form {
  display: grid;

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.program-selection__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  border: none;
}

.program-selection__label {
  font-size: 16px;
  line-height: 18px;

  @media (min-width: variables.$tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.program-selection__personal-data {
  padding: 24px 0;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    padding: 36px 0;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / 2;
    margin-bottom: 35px;
    padding: 35px 0;
  }
}

.program-selection__purpose {
  padding: 22px 0 19px;
  margin-bottom: 26px;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    margin-bottom: 29px;
    padding: 36px 0;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 2 / -1;
    margin-bottom: 35px;
    padding: 23px 27px 27px;
  }
}

.program-selection__contacts {
  padding: 0;
  padding-bottom: 24px;
  border: none;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    padding-bottom: 65px;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70px;
  }
}

.program-selection__comment {
  padding: 0;
  padding-bottom: 23px;
  border: none;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    padding-bottom: 65px;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    margin-top: 70px;
  }
}

.program-selection__additional {
  padding: 0;
  margin-bottom: 34px;
  border: none;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / -1;
    padding-bottom: 27px;
    margin-bottom: 27px;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    margin-top: 70px;
  }
}

.program-selection__textarea {
  width: 100%;
}

.program-selection__button {
  margin-bottom: 21px;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / 2;
    max-width: 282px;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / 2;
  }
}

.program-selection__legend {
  margin: 0;
  text-align: center;

  @media (min-width: variables.$tablet) {
    grid-column: 2 / 3;
    padding-left: 60px;
    text-align: left;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 2 / -1;
  }
}

.program-selection__legend small {
  font-family: variables.$font-secondary;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: variables.$tablet) {
    font-size: 16px;
    line-height: 16px;
  }
}

.program-selection__list {
  @include mixins.list-reset;
  display: grid;
  gap: 13px;

  @media (min-width: variables.$tablet) {
    padding: 23px 27px 27px;
    border: 1px solid #e7e7e7;
  }

  @media (min-width: variables.$desktop) {
    padding: 25px 28px;
  }

  &--extra {
    @media (min-width: variables.$tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 123px;
    }
  }
}

.program-selection__headline {
  max-width: 225px;
  margin-left: -20px;
  margin-bottom: 35px;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 26px;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    border: 2px solid variables.$color-primary;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  @media (min-width: variables.$tablet) {
    max-width: 610px;
    font-size: 36px;
    line-height: 36px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
    margin-bottom: 76px;
  }
}
