@use "../common/mixins.scss";
@use "../common/variables.scss";

.programs__wrapper {
  @media (min-width: variables.$tablet) {
    margin-bottom: clamp(40px, 4.5rem, 55px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: clamp(72px, 7.2rem, 80px);
  }
}

.programs__list {
  @include mixins.list-reset;
  display: grid;
  gap: min(2rem, 30px);
  padding: min(2rem, 30px) 0;

  @media (min-width: variables.$tablet) {
    padding: 0;
    gap: clamp(25px, 3rem, 40px);
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(80px, 8rem, 90px);
  }
}
