@use "../common/variables.scss";

.program {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: start;
  padding: 21px 33px 18px 20px;
  background-color: variables.$color-secondary;

  @media (min-width: variables.$tablet) and (max-width: 1279px) {
    grid-auto-flow: dense;
  }

  &::before {
    grid-column: 1 / 2;
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: variables.$tablet) and (max-width: 1279px) {
      grid-column: 2 / -1;
      grid-row: span 3;
    }
  }

  &--slim {
    @media (min-width: variables.$tablet) and (max-width: 1279px) {
      grid-template-columns: calc(393 * 100% / 593) calc(200 * 100% / 593);
      padding: 77px 63px 58px 52px;
    }

    @media (min-width: variables.$desktop) {
      grid-template-columns: calc(162 * 100% / 457) calc(295 * 100% / 457);
      padding: 41px 61px 58px 52px;
    }
  }

  &--pro {
    padding-top: 24px;

    @media (min-width: variables.$tablet) and (max-width: 1279px) {
      grid-template-columns: calc(359 * 100% / 627) calc(268 * 100% / 627);
      padding: 77px 29px 58px 52px;
    }

    @media (min-width: variables.$desktop) {
      grid-template-columns: calc(166 * 100% / 469) calc(290 * 100% / 469);
      padding: 47px 61px 58px 52px;
    }
  }

  &--slim::before {
    width: 50px;
    height: 53px;
    margin-right: 20px;
    background-image: url("../img/cat-slim.svg");

    @media (min-width: variables.$tablet) {
      width: 200px;
      height: 211px;
    }

    @media (min-width: variables.$desktop) {
      width: 100px;
      height: 106px;
      margin: 0;
    }
  }

  &--pro::before {
    width: 67px;
    height: 50px;
    margin-right: 10px;
    margin-left: -7px;
    background-image: url("../img/cat-pro.svg");

    @media (min-width: variables.$tablet) {
      width: 268px;
      height: 200px;
      margin-left: 0;
      margin-top: 14px;
    }

    @media (min-width: variables.$desktop) {
      width: 134px;
      height: 100px;
      margin: 0;
      margin-left: -19px;
    }
  }
}

.program__title {
  grid-column: 2 / -1;
  margin: 0;
  margin-left: 2px;
  padding-top: 8px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / 2;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 2 / -1;
    margin: 0;
    padding-top: 34px;
  }
}

.program__descriprion {
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 23px;
  padding-top: 22px;
  font-family: variables.$font-secondary;
  font-weight: 400;
  color: variables.$text-secondary;

  @media (min-width: variables.$tablet) {
    grid-column: 1 / 2;
    margin-bottom: 53px;
    padding: 0;
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    margin-bottom: 28px;
    padding-top: 39px;
    max-width: 100%;
  }
}

.program__link {
  grid-column: 1 / -1;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 4px 0;
  padding-top: 18px;
  font-size: 16px;
  line-height: 16px;
  color: variables.$text-primary;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;

  &::after {
    content: "";
    display: block;
    min-width: 32px;
    height: 10px;
    mask: url("../img/arrow.svg") no-repeat center;
    background-color: variables.$text-primary;
    transition: all 0.5s;
  }

  @media (min-width: variables.$tablet) {
    grid-column: 1 / 2;
    gap: 25px;
    font-size: 20px;
    line-height: 20px;
    border: none;
  }

  @media (min-width: variables.$desktop) {
    grid-column: 1 / -1;
    padding: 4px 0;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1.3);
    transition: all 0.5s;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:active {
    opacity: 0.3;
  }
}
