@use "../common/variables.scss";

.program {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-template-areas:
    "icon title"
    "text text"
    "link link";
  background-color: variables.$color-secondary;

  &::before {
    grid-area: icon;
    content: "";
    display: block;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--slim {
    padding: 21px 33px 18px 20px;

    @media (min-width: variables.$tablet) {
      padding-right: 63px;
    }

    @media (min-width: variables.$desktop) {
      padding: 41px 61px 59px 52px;
    }
  }

  &--pro {
    padding: 24px 33px 18px 20px;

    @media (min-width: variables.$tablet) {
      padding-right: 29px;
    }

    @media (min-width: variables.$desktop) {
      padding: 47px 67px 59px 52px;
    }
  }

  &--slim::before {
    width: 50px;
    height: 53px;
    background-image: url("../img/cat-slim.svg");

    @media (min-width: variables.$tablet) {
      width: 200px;
      height: 211px;
    }

    @media (min-width: variables.$desktop) {
      width: 100px;
      height: 106px;
    }
  }

  &--pro::before {
    width: 67px;
    height: 50px;
    background-image: url("../img/cat-pro.svg");

    @media (min-width: variables.$tablet) {
      width: 268px;
      height: 200px;
    }

    @media (min-width: variables.$desktop) {
      width: 134px;
      height: 100px;
    }
  }

  @media (min-width: variables.$tablet) and (max-width: 1279px) {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "title icon"
      "text icon"
      "link icon";
    padding: 77px 63px 57px 52px;
  }
}

.program__title {
  grid-area: title;
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: variables.$tablet) {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: variables.$desktop) {
    margin: 0;
  }
}

.program__descriprion {
  grid-area: text;
  margin: 0;
  margin-bottom: 15px;
  padding: 22px 0;
  font-family: variables.$font-secondary;
  font-weight: 400;
  color: variables.$text-secondary;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet) {
    margin-bottom: 52px;
    padding: 0;
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: 27px;
    padding-top: 39px;
    max-width: 100%;
  }
}

.program__link {
  grid-area: link;
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 4px 0;
  font-size: 16px;
  line-height: 16px;
  color: variables.$text-primary;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    mask: url("../img/arrow.svg") no-repeat center;
    background-color: variables.$text-primary;
  }

  @media (min-width: variables.$tablet) {
    gap: 25px;
    font-size: 20px;
    line-height: 20px;
  }
}
