@use "../common/mixins.scss";
@use "../common/variables.scss";

.programs__list {
  @include mixins.list-reset;
  display: grid;
  gap: 20px;

  @media (min-width: variables.$tablet) {
    gap: 20px;
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}
