@use "../common/variables.scss";

.promotion {
  padding: min(5.9rem, 68px) 0 min(4.3rem, 49px);
  text-align: center;
  background-color: variables.$color-primary;
  // Точечно отключает stylenint по причине бага с указанием правил для ретина дисплеев в сочетании с градиентом
  /* stylelint-disable unit-no-unknown */
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 50%),
    image-set(url("../img/cat-promo@2x.webp") type("image/webp") 2x,
      url("../img/cat-promo.webp") type("image/webp") 1x,
      url("../img/cat-promo@2x.jpg") 2x,
      url("../img/cat-promo.jpg") 1x);
  /* stylelint-enable unit-no-unknown */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    width: min(7.8rem, 132px);
    height: min(8rem, 136px);
    margin: 0 auto;
    margin-bottom: min(4.8rem, 60px);
    background-image: url("../img/sprite.svg#gift");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: variables.$tablet) {
      margin: 0;
      width: clamp(80px, 8rem, 132px);
      height: clamp(82px, 8.2rem, 136px);
    }

    @media (min-width: variables.$desktop) {
      margin: 0 auto;
      margin-bottom: clamp(46px, 4.6rem, 60px);
    }
  }

  @media (min-width: variables.$tablet) and (max-width: 1279px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: min(5.8rem, 74px) min(12.5rem, 159px) min(6rem, 76px) min(7.9rem, 100px);
    background-position: center 60%;
  }

  @media (min-width: variables.$desktop) {
    max-width: none;
    width: 24.5rem;
    padding: clamp(58px, 5.8rem, 74px) clamp(42px, 4.2rem, 53px) clamp(43px, 4.3rem, 54px);
  }
}

.promotion__text {
  margin: 0 auto;
  max-width: min(16.2rem, 270px);
  font-family: variables.$font-secondary;
  font-size: min(1.6rem, 24px);
  line-height: min(2rem, 30px);
  color: #ffffff;

  @media (min-width: variables.$tablet) {
    margin: 0;
    text-align: left;
    font-size: clamp(16px, 1.6rem, 24px);
    line-height: clamp(20px, 2rem, 30px);
  }

  @media (min-width: variables.$desktop) {
    width: 16.2rem;
    text-align: center;
  }
}
