@use "../common/variables.scss";

.showing {
  padding: min(2.5rem, 50px) 0;
  text-align: center;

  @media (max-width: variables.$mobile) {
    position: relative;
  }

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    margin-bottom: min(2.5rem, 35px);
    width: 3rem;
    height: 3rem;
    background-image: url("../img/sprite.svg#plus");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: variables.$tablet) {
      width: max(6rem, 60px);
      height: max(6rem, 60px);
      margin: 0 auto;
      margin-bottom: min(5rem, 60px);
    }

    @media (min-width: variables.$desktop) {
      margin-bottom: min(4rem, 50px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: #ebebeb;

    @media (min-width: variables.$tablet) {
      display: none;
    }
  }

  @media (min-width: variables.$tablet) {
    display: grid;
    padding: min(5rem, 55px) min(3.7rem, 40px) min(4rem, 54px);
    border: 2px solid variables.$color-secondary;
  }

  @media (min-width: variables.$desktop) {
    padding: clamp(40px, 5rem, 50px) clamp(20px, 3.75rem, 40px) clamp(40px, 4rem, 54px);
  }
}

.showing__title {
  margin: 0;
  margin-bottom: min(0.8rem, 16px);
  font-size: min(1.6rem, 24px);
  line-height: min(2rem, 30px);
  text-transform: uppercase;
  color: #111111;

  @media (min-width: variables.$tablet) {
    margin: 0 auto;
    margin-bottom: min(2.2rem, 30px);
    max-width: 13.4rem;
    font-size: min(2rem, 26px);
    line-height: min(2.4rem, 30px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: clamp(22px, 2.6rem, 32px);
    font-size: clamp(18px, 2rem, 26px);
    line-height: clamp(22px, 2.4rem, 30px);
  }
}

.showing__description {
  margin: 0;
  margin-bottom: min(2.1rem, 28px);
  font-family: variables.$font-secondary;
  font-size: min(1.2rem, 18px);
  line-height: min(1.6rem, 22px);

  @media (min-width: variables.$tablet) {
    margin: 0 auto;
    margin-bottom: 8.2rem;
    max-width: max(17rem, 168px);
    font-size: clamp(14px, 1.6rem, 20px);
    line-height: clamp(16px, 1.8rem, 25px);
  }

  @media (min-width: variables.$desktop) {
    margin-bottom: clamp(76px, 8.7rem, 100px);
    font-size: clamp(16px, 1.6rem, 20px);
    line-height: clamp(18px, 1.8rem, 25px);
  }
}

.showing__button {
  width: 100%;
  padding: min(1rem, 14px);

  @media (min-width: variables.$tablet) {
    align-self: end;
    padding: clamp(10px, 1rem, 15px) clamp(45px, 4.5rem, 55px);
    font-size: clamp(16px, 1.6rem, 22px);
    line-height: clamp(18px, 2rem, 28px);
  }

  @media (min-width: variables.$desktop) {
    padding: clamp(10px, 1rem, 15px) clamp(39px, 3.9rem, 55px);
    font-size: clamp(16px, 1.6rem, 22px);
    line-height: clamp(20px, 2rem, 28px);
  }
}
