@use "../common/mixins.scss";
@use "../common/variables.scss";

.site-list {
  @include mixins.list-reset;
  display: flex;
  flex-direction: column;
  text-align: center;

  &--closed {
    display: none;
  }

  @media (max-width: variables.$mobile) {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 65px;
    width: 100%;
    background-color: #ffffff;
  }

  @media (min-width: variables.$tablet) {
    display: flex;
    flex-direction: row;
    gap: 34px;
    flex-wrap: wrap;
    justify-content: end;
    padding-right: 4px;
  }

  @media (min-width: variables.$desktop) {
    padding-right: 2px;
  }

  &--nojs {
    position: static;
    display: block;
  }
}

.site-list--with-background .site-list__link {
  @media (min-width: variables.$desktop) {
    color: #ffffff;
  }
}

.site-list--with-background .site-list__item--current::after {
  @media (min-width: variables.$desktop) {
    background-color: #ffffff;
  }
}


.site-list__item {
  position: relative;

  @media (max-width: variables.$mobile) {
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 1px;
      left: 50%;
      right: 0;
      transform: translateX(-50%);
      bottom: 0;
      background-color: #e6e6e6;
    }
  }
}

.site-list__item--current::after {
  @media (min-width: variables.$tablet) {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    height: 2px;
    background-color: variables.$color-primary;
  }
}

.site-list__link {
  display: block;
  padding: 22px 22px 24px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: variables.$text-primary;

  @media (min-width: variables.$tablet) {
    padding: 14px 0 12px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: variables.$desktop) {
    padding: 20px 0 13px;
    font-size: 20px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {
    cursor: default;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }
}
