@use "../common/mixins.scss";
@use "../common/variables.scss";

.site-list {
  @include mixins.list-reset;
  display: flex;
  flex-direction: column;
  text-align: center;

  &--closed {
    display: none;
  }

  @media (max-width: variables.$mobile) {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 65px;
    width: 100%;
    background-color: #ffffff;
  }

  @media (min-width: variables.$tablet) {
    display: flex;
    flex-direction: row;
    gap: 33px;
    flex-wrap: wrap;
    justify-content: end;
  }

  &--nojs {
    position: static;
    display: block;
  }
}

.site-list--with-background .site-list__link {
  @media (min-width: variables.$desktop) {
    color: #ffffff;
  }
}

.site-list--with-background .site-list__item--current::after {
  background-color: #ffffff;
}


.site-list__item {
  position: relative;

  @media (max-width: variables.$mobile) {
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #e6e6e6;
    }
  }
}

.site-list__item--current::after {
  @media (min-width: variables.$tablet) {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
    height: 2px;
    background-color: variables.$color-primary;
  }
}

.site-list__link {
  display: block;
  padding: 22px 75px 24px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: variables.$text-primary;

  @media (min-width: variables.$tablet) {
    padding: 12px 0;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: variables.$desktop) {
    padding: 15px 0;
    font-size: 20px;
  }
}
