@use "../common/variables.scss";

.slider {
  --cat-width: 50%;
  position: relative;
  display: grid;
  grid-template-columns: var(--cat-width) 1fr;
}

.slider__image-wrapper {
  display: flex;
  overflow: hidden;

  &--before {
    justify-content: flex-start;
  }

  &--after {
    justify-content: flex-end;
  }
}

.slider__image {
  width: 28rem;
  height: auto;

  @media (min-width: variables.$tablet) {
    width: clamp(560px, 56rem, 630px);
  }

  @media (min-width: variables.$desktop) {
    width: clamp(560px, 56rem, 800px);
  }
}

.slider__change-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  background-color: #666666;
  color: #666666;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: variables.$color-primary;
    color: variables.$color-primary;
    outline: none;
  }

  &:active {
    background-color: #5eaa2f;
    color: #5eaa2f;
    opacity: 0.6;
  }
}

.slider__toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(40px, 4rem, 45px);
  height: clamp(40px, 4rem, 45px);
}
