@use "../common/variables.scss";

.social-link {
  display: block;
  width: 28px;
  height: 22px;
  background-color: #666666;

  &--vk {
    mask: url("../img/sprite.svg#vk-icon") no-repeat center;
  }

  &--youtube {
    mask: url("../img/sprite.svg#youtube-icon") no-repeat center;
  }

  &--telegram {
    mask: url("../img/sprite.svg#telegram-icon") no-repeat center;
  }

  &:hover,
  &:focus {
    background-color: variables.$color-primary;
  }

  &:active {
    opacity: 0.3;
  }
}
