@use "../common/mixins.scss";

.social__list {
  @include mixins.list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: min(2.4rem, 36px);
  max-width: max(13.2rem, 132px);
  margin: 0 auto;
}
