@use "../common/variables.scss";

.social-link {
  display: block;
}

.social-link__icon {
  width: 28px;
  height: 22px;
  fill: #666666;
}

.social-link:hover .social-link__icon,
.social-link:focus .social-link__icon {
  fill: variables.$color-primary;
}

.social-link:active {
  opacity: 0.3;
}
