@use "../common/variables.scss";

.social-link {
  display: block;
  width: clamp(28px, 2.8rem, 35px);
  height: clamp(22px, 2.2rem, 28px);
  background-color: #666666;

  &--vk {
    mask: url("../img/sprite.svg#vk") no-repeat center;
  }

  &--youtube {
    mask: url("../img/sprite.svg#youtube") no-repeat center;
  }

  &--telegram {
    mask: url("../img/sprite.svg#telegram") no-repeat center;
  }

  &:hover,
  &:focus {
    background-color: variables.$color-primary;
  }

  &:active {
    opacity: 0.3;
  }
}
