@use "../common/variables.scss";

.title {
  font-size: min(3.6rem, 45px);
  font-weight: 400;

  &--primary {
    line-height: min(3.6rem, 45px);
  }

  &--secondary {
    line-height: min(4rem, 50px);
  }

  @media (min-width: variables.$tablet) {
    font-size: min(6rem, 70px);
    line-height: min(6rem, 70px);
  }

  @media (min-width: variables.$desktop) {
    font-size: clamp(45px, 6rem, 70px);
    line-height: clamp(45px, 6rem, 70px);
  }
}
