@use "./common/variables.scss";

.additional-form__wrapper {
  padding: 0;
  padding-top: min(1.6rem, 30px);
  padding-bottom: min(1.4rem, 24px);

  @media (min-width: variables.$tablet) {
    padding: min(2.2rem, 26px) 0;
  }

  @media (min-width: variables.$desktop) {
    padding: clamp(20px, 2.2rem, 26px) 0;
  }
}

.additional-form__list {
  gap: min(1.2rem, 24px);

  @media (min-width: variables.$tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(32px, 3.2rem, 77px) clamp(58px, 5.8rem, 90px);
    justify-content: start;
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(30px, 3.5rem, 90px) clamp(50px, 7.9rem, 79px);
  }
}
