@use "./common/variables.scss";

.comment-form__wrapper {
  padding-top: min(1.8rem, 30px);

  @media (min-width: variables.$tablet) {
    padding-top: min(5.2rem, 52px);
  }

  @media (min-width: variables.$desktop) {
    padding-top: 43px;
  }
}
