@use "./common/variables.scss";

.contacts-form__wrapper {
  padding-top: min(1.5rem, 26px);

  @media (min-width: variables.$tablet) {
    padding-top: clamp(41px, 4.1rem, 46px);
  }
}

.contacts-form__list {
  gap: min(1.4rem, 20px);

  @media (min-width: variables.$tablet) {
    gap: clamp(17px, 1.7rem, 25px);
  }

  @media (min-width: variables.$desktop) {
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(80px, 8rem, 100px);
  }
}
