@use "./common/variables.scss";

.personal-form__wrapper {
  padding-bottom: min(2.4rem, 35px);

  @media (min-width: variables.$tablet) {
    padding: 0;
  }
}

.personal-form__list {
  gap: min(1.4rem, 20px);

  @media (min-width: variables.$tablet) {
    gap: clamp(20px, 2rem, 31px);
  }
}
